{% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
        <div class="radio-wrapper js product-form__item small--text-center option-name-{{ option.name | escape | handleize }}">
            {% assign option_name = option.name | escape %}
            {% if option_name contains 'Choose Servings' %}
                {% include 'product-opt-choose-servings-2' %}
            {% elsif option_name contains 'Choose Quantity' %}
                {% include 'product-opt-choose-qty' %}
            {% else %}
                {% include 'product-opt-default' %}
            {% endif %}
        </div>
    {% endfor %}
{% endunless %}

{% comment %} Old code {% endcomment %}
{% comment %} <script>
  document.addEventListener("DOMContentLoaded", function() {
    // Display 32 Servings 8oz option as default
    const label = document.querySelector('.option-name-choose-servings label[data-option="64 servings | 16oz"]');
    if (label) {
      label.click();
    }

    // — al terminar, mostramos las ofertas —
    const offers = document.querySelector('#rose-nectar .product-offers');
    if (offers) {
      offers.style.opacity = '1';
    }
  });

</script> {% endcomment %}


{% comment %} new updated Code {% endcomment %}
<script>
  document.addEventListener("DOMContentLoaded", function() {

    const label = document.querySelector(
      '.option-name-choose-servings label[data-option="32 servings | 8oz"]'
    );

    if (label) {
      label.click();
    }

    const offers = document.querySelector('#rose-nectar .product-offers');
    if (offers) {
      offers.style.opacity = '1';
    }
  });
</script>
