<div class="outer-div ">
{% for block in section.blocks %}  
  <div class="image_box_outer aos-init" data-aos="fade-up">
  
    <a href="{{ block.settings.imagelink }} " class="image_product_link"> {{ block.settings.image | img_url: '500x500', scale: 2 | img_tag: block.settings.image.alt, 'logo-bar__image' }}</a>
  

   {% if block.settings.linktext != blank %}
    <div class="button-outer">
      <a href="{{ block.settings.productlink }}" class="getyours-button-link"> {{ block.settings.linktext }} </a>
    </div>
 {% endif %}

    
  </div>
 {% endfor %}
</div>


{% schema %}
  {
    "name": "multi image",
	"max_blocks": 4,
    "settings": [
		 {
      "type": "header",
      "content": "multi image"
           
    }  
	],
  "blocks": [
    {
      "type": "select",
      "name": "Add Image",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
       	  "label": "Add image"
        },
        {
          "id": "imagelink",
          "type": "url",
          "label": "Add Image link"
        },
        {
          "id": "productlink",
          "type": "url",
          "label": "Button link"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Button text",
          "default": "Click Here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "multi image",
      "category": "text" 
      
    }
  ]
  }

{% endschema %}