<div data-f="product-testimonials-yumies.liquid " class="wrapper" data-aos="fade-up" data-section-id="{{ section.id }}" data-section-type="product-testimonials-nectar-section">
    <h3 class="product-testimonials-title">{{ section.settings.product_testimonials_header }}</h3>
    <div class="product-testimonials-text">{{ section.settings.product_testimonials_text }}</div>
    <div class="product-testimonials-author">{{ section.settings.product_testimonials_author }}</div>
</div>
{% schema %}
    {
        "name":"Product Testimonials yum",
        "settings":[
            {
                "type":"text",
                "id":"product_testimonials_header",
                "label":"Section Header"
            },
            {
                "type":"richtext",
                "id":"product_testimonials_text",
                "label":"Text"
            },
            {
                "type":"text",
                "id":"product_testimonials_author",
                "label":"Author"
            }
        ],
  "presets": [
    {
      "name": "Product Testimonials yum"
    }
  ]
    }
{% endschema %}