.site-header__logo {
  margin: 0;
}

@media only screen and (max-width: 767px) {
    .dev-page-body header {
        position: unset;
    }

  .dev-page-body .section-header {
    margin-bottom: 60px;
    margin-top: 10px;
  }
}

.li_Popup_video__product{
  height: 87px;
  width: 87px;
  object-fit: cover;
  margin-right: 15px;
}
.miniature__video_play {
  background: #fac8ca;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.miniature__video_play svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  top: 0;
  border: 1px solid currentcolor;
  border-radius: 100px;
  padding: 3px;
  width: 30px;
  height: 30px;
}
.miniature__video_play path {
  fill: currentColor;
}
.Popup_video__product {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #000000c4;
  justify-content: center;
}
.Popup_video__product video {
  height: 100%;
  width: auto;
  margin: auto;
  max-width: 90%;
}
.video-popup-close {
  position: absolute;
  z-index: 99;
  right: 30px;
  top: 20px;
  color: #000;
  font-size: 60px;
  line-height: 1;
  cursor: pointer;
}
.product-single__thumbnails {
  flex-wrap: wrap;
}

.product-single__photo--container-thumb .video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Aspect ratio 16:9 */
}

.product-single__photo--container-thumb .video-wrapper video {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 590px){
  .hide-media-desktop{
    display: none;
  }
}
@media only screen and (max-width: 590px) {
  /*
  .small--hide.product-single__thumbnails {
    display: flex !important;
  }
  .small--hide.product-single__thumbnails li:not(.li_Popup_video__product){
    display: none;
  }
  */
}

#rose-nectar .shopify-app-block:last-of-type, .product-yummies-2 .shopify-app-block:last-of-type, .product-new-mist .shopify-app-block:last-of-type, .template-product .shopify-app-block:last-of-type{
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}


.refund-policy p{
  margin-bottom: 5px;
}

#ProductPrice, .product-additional-prices {
  display: none !important;
}


@media screen and (min-width: 768px){
  /* .product-price-wrapper {
    margin-block-end: 24px;
  } */
  /* #rose-mist .product-price-wrapper{
    width: 39%;
    flex: unset;
  } */

  /* #rose-mist .product-qty-wrapper{
    padding-left: 14px;
  }

  #rose-mist .product-price-wrapper .single-option-radio{
    gap: 10px;
  } */
}


#rose-nectar .product-offers {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.product-single__add-to-cart {
  cursor: pointer;
}

.product-single__add-to-cart button{
  cursor: pointer;
  border: none;
}

.product-single__add-to-cart button:hover{
  background-color: #fac8ca !important;
  color: #523d33 !important;
  cursor: pointer;
}


.money-saved{
  padding-left: 1rem;
  justify-content: space-between;
  width: 100%;
}

.original-price-tachado{
  margin-left: 5px;
  opacity: 0.9;
  font-weight: 400;
}

.money-saved-percentage{
  display: flex;
  align-items: center;
}

.savings-percent{
    margin-left: 10px;
    color:rgb(214, 169, 171);
}

.rtx-purchase-label__inner .money-saved{
  margin-bottom: 0;
  justify-content: flex-end;
      width: fit-content;
    flex: 1;
}

@media screen and (max-width: 500px){
  .rtx-purchase-label__inner{
    flex-wrap: wrap;
  }

  .rtx-purchase-label__inner .money-saved{
    justify-content: flex-end;
    padding-left: 25px;
    flex: 1;
  }

  .custom-text .custom-icon{
    font-size: 16px;
  }
}


.product-new-mist .single-option-radio label .option-label::after{
  width: 10px !important;
  height: 10px !important;
}

.product-new-mist .product-offers-custom{
  padding-top: 15px !important;
}

.best-value-label{
  opacity: 0;
  margin-bottom: 5px;
}

#rose-nectar #ProductSelect-option-0 label .option-default{
  padding: 10px 28px;
}

.best-value-label-act{
font-size: 12px;
text-align: center;
font-weight: 500;
padding: 2px;
background: #FDEDEE;
color: #523D33;
display: flex;
justify-content: center;
  margin: 0 auto 5px;
}

@media screen and (max-width: 500px){
  #rose-mist .mist_10oz .bottle-10-lg{
    height: 110px !important;
    width: fit-content;
  }
}


.big-bottle-container{
  display: flex;
}

.big-bottle-container .big-bottle{
  width: 110px;
}

.new-product-testimonials-title{
  padding-bottom: 0 !important;
}

.new-product-testimonials-text{
  margin-top: 0 !important;
}

@media screen and (max-width: 500px){
  .big-bottle-container .big-bottle{
    width: 80px;
  }
  
  .new-product-testimonials-text{
    margin-top: 0 !important;
  }

  #judgeme_product_reviews{
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px){
  .icons-section.new-icons-section{
    padding-bottom: 0;
  }

  .product-new-yummies .new-product-testimonials-title{
    margin-bottom: 20px;
  }

  #rose-rosehip-oil .product-single__title{
    font-size: 18px;
    margin: 0 auto 5px;
  }

  #rose-rosehip-oil .additional-products .products-wrapper{
    align-items: flex-start;
  }

  #rose-rosehip-oil .additional-products .products-wrapper h3{ 
    font-size: 14px;
  }
}

.single-option-radio label.label-disabled{
  opacity: 0.4;
  cursor: not-allowed;
  background-color: #f9f9f9 !important;
  border-color: #e0e0e0 !important;
  color: #999 !important;
}

.btn--add-to-cart.disabled{
    opacity: 0.4;
  cursor: not-allowed !important;
  background-color: #f9f9f9 !important;
  border-color: #e0e0e0 !important;
  color: #999 !important;
}

.product-single__add-to-cart.disabled{
  opacity: 0.4;
  cursor: not-allowed !important;
  background-color: #f9f9f9 !important;
  border-color: #e0e0e0 !important;
  color: #999 !important;
}

.product-icons-section .grid{
  margin-top: 40px;
}

.icons-section{
  padding: 80px 0;
}

@media screen and (max-width: 768px){
  .product-icons-section .grid{
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px){
  .icons-section h3{
    margin: 0 auto 10px;
    max-width: 320px;
  }
}
.shopify-section.social-ocean-top-customers-widget button.w-full.rounded-xl.bg-gray-100.py-3.font-medium.text-gray-700.transition-colors.hover\:bg-gray-200 {
  background: #fdedee  !important;
  color: rgb(55 65 81);
}
.shopify-section.social-ocean-top-customers-widget button.text-sm.font-normal.underline.transition-colors {
  text-transform: capitalize;
}

