#shopify-section-product-template-mist .product-icons img {
  width: 90px;
}

#shopify-section-product-template-mist .product-tabs-titles-wrapper li {
  display: inline-block;
  padding-bottom: 0px;
  margin: 0px;
  padding: 10px 20px;
  border-bottom: solid 1px #e0e0e0;
  min-width: 30%;
  margin-right: -6px;
  text-transform: none;
  font-weight: 400;

}

#shopify-section-product-template-mist .product-tabs-titles-wrapper {

}


#shopify-section-product-template-mist .product-tabs-titles-wrapper .active {
  border-bottom: 1.5px solid #fac8ca;
  font-weight: 700;
}

#shopify-section-product-testimonials-mist {
  background: #fdedee;
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#shopify-section-product-testimonials-mist .product-testimonials-title:before {
  content: url(https://cdn.shopify.com/s/files/1/0091/8444/4495/files/quotation.png?v=1594324962);
  color: #fac8ca;
  font-size: 160px;
  font-family: monospace;
  text-align: center;
  display: block;
  height: 170px;
  line-height: 1;
  margin-top: -50px;
}

#shopify-section-product-testimonials-mist .product-testimonials-title {
  text-align: center;

}

#shopify-section-product-testimonials-mist .product-testimonials-text {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  max-width: 470px;
  margin: 60px auto 0 auto;
}

#shopify-section-product-testimonials-mist .product-testimonials-author {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

#shopify-section-product-template-yumies .product-tabs-titles-wrapper li {
  display: inline-block;
  padding-bottom: 0px;
  margin: 0px;
  padding: 10px 20px;
  border-bottom: solid 1px #e0e0e0;
  min-width: 30%;
  margin-right: -6px;
  text-transform: none;
  font-weight: 400;
}

#shopify-section-product-template-yumies .product-tabs-titles-wrapper {

}

#shopify-section-product-template-yumies .product-tabs-titles-wrapper .active {
  border-bottom: 1.5px solid #fac8ca;
  font-weight: 600;
}

#shopify-section-product-testimonials-yumies {
  background: #fff;
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#shopify-section-product-testimonials-yumies .product-testimonials-title:after {
  content: url(https://cdn.shopify.com/s/files/1/0091/8444/4495/files/quotation.png?v=1594324962);
  color: #fac8ca;
  font-size: 160px;
  font-family: monospace;
  text-align: center;
  display: block;
  height: 120px;
  line-height: 1;
  margin-top: -50px;
}

#shopify-section-product-testimonials-yumies .product-testimonials-text {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  max-width: 470px;
  margin: 60px auto 0 auto;
}

#shopify-section-product-testimonials-yumies .product-testimonials-author {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.mist-offers div#sec-1.other-info{
  top: -60px;
}
.mist-offers .other-info {
  margin-top: 20px;
  top: -60px;
}

.mist-offers .option-name-choose-offer .single-option-radio__label {
  text-align: left;
}

.mist-offers .option-name-choose-offer .single-option-radio {
  text-align: center;

}

.mist-offers .other-info .image {
  height: 50px;
  margin: 0px;
  margin-bottom: 20px;
}


.mist-offers .option-name-choose-offer .single-option-radio label {
  /* padding: 8px; */

  /* border-radius: 10px; */

}

.mist-offers .option-name-choose-offer .single-option-radio input[type='radio']:checked + label {
  /* border: solid 1.5px pink; */

}


.mist-offers .option-name-choose-qty .single-option-radio label {

  width: 70px;
}

#shopify-section-image-section-mist {
  background: #fff;
}

#shopify-section-image-section-mist .feature-icon__image-wrapper img {
  width: 70%;
  max-width: 100%;
  margin-bottom: 0px;
  margin-top: 60px;
}
#shopify-section-image-section-mist h3.icons__heading {
    padding-top: 100px;
}

#shopify-section-image-section-mist .feature-icon__image-wrapper {
  padding-top: 33% !important;
}

#shopify-section-full-width-image-mist {
  min-height: 1000px;
}

#shopify-section-full-width-image-mist .grid {

  width: 150px;
  margin: auto;
  margin-top: 300px;
}

#shopify-section-full-width-image-mist .grid p {
  margin-bottom: 0px;
  font-size: 18px;
}

.circle.block-1593426583781 {
  width: 25%;
  padding-left: 0px;
  margin-top: -30px;
}

.circle.block-1593426583781 .feature-icon__image-wrapper img {
  max-width: 200px !important;
}

#shopify-section-full-width-image-yumies .feature-icon__image-wrapper img {
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 140px;
}

#shopify-section-full-width-image-yumies .feature-icon__image-wrapper {
  padding-top: 60% !important;
}

.dev-rose-img img {
  max-width: 400px;
  margin: auto;
}

.dev-rose-img {
  background: #fff6f7;
  padding: 100px 0;
}

#shopify-section-image-text-section-yumies .featured-row__subtext p::before {
  content: url("https://cdn.shopify.com/s/files/1/0091/8444/4495/files/about_720x_1_ad716166-2df5-4345-80b0-42aaec27fbe7.png?v=1593713235");
}

.image-rose-nectar.yummies {
  background: #fff;
}

/* .image-rose-nectar.mist {
  background: #fff6f7;
} */

.image-rose-nectar.yummies:before {

  height: 0%;
  background-color: #fff;

}

.image-rose-nectar.yummies .feature-row__text {
    padding-top: 10%;
    padding-bottom: 2%;
}

#shopify-section-product-template-yumies .product-price-wrapper {

  justify-content: flex-start;

}

#shopify-section-product-template-mist .product-price-wrapper {

  justify-content: flex-start;

}

.dev-hide-desktop {
  display: none;
}

.mist-offers .option-name-choose-offer .single-option-radio .dev-high-bg {
  padding: 10px;
}

.mist-offers .option-name-choose-offer .single-option-radio input[type='radio']:checked + label .dev-high-bg {
  padding: 10px 0px;
  background: pink;
  border-radius: 10px;
  width: 100px;
  margin: auto;
}

.mist-offers .option-name-choose-offer .single-option-radio input[type='radio']:checked + label .option-qty {
  font-weight: 600;
}

.dev-high-bg p {
  margin-bottom: 0px;

}

.mist-offers .option-name-choose-offer .single-option-radio label p:nth-child(2n) strong {
  font-size: 17px;

}

.mist-offers .option-name-choose-offer .single-option-radio label p:nth-child(2n) {

  margin-top: 20px;
}

.mist-offers .option-name-choose-offer .single-option-radio label p:nth-child(3n){margin-top: 10px;}
.image-rose-nectar .btn {
  margin-top: 40px;

}

.product-single__description.description-small {
  max-height: 115px;
}

.tab-text {
  font-size: 0.9375em;
}

.tab-text ul {
  font-size: 0.9375em;
}

.tab-text .end-p {
  font-size: 0.9375em;
  text-align: center;
}

.tab-text li {
  list-style: none;
}

.product-single__thumbnail img {

  height: 87px;
  width: 87px;
  object-fit: cover;
}

.bg-pink {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  background: #fac8ca;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}


#shopify-section-product-template-mist .product-price-info {
  display: none;
}

#shopify-section-product-template-mist .product-single__meta--wrapper {
  margin-top: -20px;
}

#shopify-section-product-template-nectar .product-single__meta--wrapper {
  margin-top: -20px;
}

#shopify-section-product-template-mist .product-tabs-titles-wrapper {
  margin: 10px 0px;

}

#shopify-section-product-template-nectar .product-tabs-titles-wrapper {
  margin: 10px 0px;

}

#shopify-section-product-template-mist .product-single__meta .wrapper {
  padding: 0px;
}

#shopify-section-product-template-yumies .product-single__meta--wrapper {
  margin-top: -20px;
}

#shopify-section-product-template-yumies .product-tabs-titles-wrapper {
  margin: 10px 0px;

}

#shopify-section-product-template-yumies .product-single__meta .wrapper {
  padding: 0px;
}

#shopify-section-product-template-yumies .product-image-info-wrapper {
  font-size: 18px;
  margin-top: 50px;
  font-weight: 300;
}

#shopify-section-product-template-yumies .product-images-info-title {

  color: #523d33 !important;
}

#shopify-section-product-template-yumies .product-icons {
  margin: 0px;
}

.product-tabs-text-wrapper .product-icons .icons__text {
  font-size: 12px;
}

.product-tabs-text-wrapper .product-icons .icons__subtitle {
  font-size: 16px;
  font-weight: 500;
}

#shopify-section-product-template-mist .product-image-info-wrapper {
  font-size: 18px;

  font-weight: 300;
}

.product-single__thumbnail img {
  border-radius: 65px;
  /*     padding: 10px; */
}

.tab-text ul {
  font-size: 0.9375em;
  margin-left: 0px;
}

#shopify-section-product-template-mist .product-images-info-title {

  color: #523d33 !important;
}

#shopify-section-full-width-image-mist .feature-icon__image-wrapper img {
  margin-bottom: 0px;
  max-width: 140px;
}

.mist-offers {
  margin-bottom: 30px;
}

#shopify-section-full-width-image-mist-mobile {
  min-height: 550px;
}

#shopify-section-full-width-image-mist-mobile .grid {
  width: 90px;
  margin: auto;
  margin-top: 160px;
}

#shopify-section-full-width-image-mist-mobile .grid p {
  margin-bottom: 0px;
}

#shopify-section-full-width-image-mist-mobile .feature-icon__image-wrapper img {
  margin-bottom: 5px;
  /* max-width: 140px; */
   max-width: 80%;
}

.circle-mobile.block-1593619011481 {
  width: 25%;
  padding-left: 0px;
  margin-top: 0px;
}

.circle-mobile.block-1593619011481 .feature-icon__image-wrapper img {
  /* max-width: 200px !important; */
}

#shopify-section-full-width-image-mist-mobile .icons__text {
  display: block;
  margin-left: -10px;
  margin-right: -10px; 
}

#shopify-section-image-text-section-yumies {
  margin: 100px 0 0;
}

#shopify-section-image-text-section-yumies .featured-row__subtext p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

#shopify-section-image-text-section-yumies .feature-row__text {
  padding-bottom: 0px;
  padding-top: 0px;
}

.product-single__title {
  font-weight: 400;
}

.product-single__title sup {
  font-size: 12px;
  top: -1.5em;
}

#shopify-section-image-text-section-yumies .featured-row__subtext p {

  opacity: 0;
  animation: fadeIn 1s ease-in both;
}

#shopify-section-image-text-section-yumies .featured-row__subtext p:nth-child(2) {
  animation-delay: 1s;
}

#shopify-section-image-text-section-yumies .featured-row__subtext p:nth-child(3) {
  animation-delay: 2s;
}

#shopify-section-image-text-section-yumies .featured-row__subtext p:nth-child(4) {
  animation-delay: 3s;
}

#shopify-section-image-text-section-yumies .featured-row__subtext p:nth-child(5) {
  animation-delay: 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.image-rose-nectar.yummies .h3:after {
  content: 'TM';
  font-size: 12px;
  font-family: sans-serif;
  top: 0em;
  right: -10px;

}

.image-rose-nectar.mist .h3:after {

  content: '';
  font-size: 12px;
  font-family: sans-serif;

}

#shopify-section-product-template-nectar .product-icons img {
  width: 80px;
}

#shopify-section-product-template-nectar .product-tabs-titles-wrapper li {
  display: inline-block;
  padding-bottom: 0px;
  margin: 0px;
  padding: 10px 20px;
  border-bottom: solid 1px #e0e0e0;
  min-width: 30%;
  margin-right: -6px;
  text-transform: none;
  font-weight: 400;

}

#shopify-section-product-template-nectar .product-tabs-titles-wrapper {

}

#shopify-section-product-template-nectar .product-tabs-titles-wrapper .active {
  border-bottom: 1.5px solid #fac8ca;
  font-weight: 700;
}

#shopify-section-product-template-nectar .tab-text .end-p {
  text-align: left;
}

#shopify-section-product-template-mist .tab-text .end-p {
  text-align: left;
}

#shopify-section-product-testimonials-nectar .product-testimonials-title:after {
  content: url(https://cdn.shopify.com/s/files/1/0091/8444/4495/files/quotation.png?v=1594324962);
  color: #fac8ca;
  font-size: 160px;
  font-family: monospace;
  text-align: center;
  display: block;
  height: 120px;
  line-height: 1;
  margin-top: -50px;
}

.mist-offers .other-info .image.bottle-sm {
  margin-top: 25px;
}

.mist-offers .other-info .image.bottle-lg {
  height: 80px !important;
}

.mist-offers .other-info .img-container {
  height: 90px;
}

.mist-offers .other-info .image {

  margin-bottom: 0px;
}

.mist-offers .other-info .img-toz {
  padding-top: 1px;
}

#shopify-section-product-template-yumies .option-name-size {
  display: none;
}

@media(min-width: 767px) {
  #shopify-section-product-template-nectar {
    margin-top: -50px;
  }
  #shopify-section-product-template-mist {
    margin-top: -50px;
  }
  #shopify-section-product-template-yumies {
    margin-top: -50px;
  }
  #shopify-section-product-template-mist .product-image-info-wrapper {

    margin-top: 0px;
  }
  #shopify-section-product-template-mist .product-single__photos {
    max-height: 400px;
  }
  #shopify-section-product-template-mist .product-single__photos img {
    max-height: unset;
    width: auto;
    height: 460px;
}
  .product-mist .product-single__thumbnails{
    margin-top: 75px !important;
}
  #shopify-section-product-template-yumies .product-image-info-wrapper {

    margin-top: 0px;
  }
  #shopify-section-image-text-section-yumies .featured-row__subtext p::before {
    margin-right: 8px;
  }
  #shopify-section-full-width-image-yumies .icons__heading {
    font-size: 76px;
    margin-bottom: 30px;
  }
  #shopify-section-full-width-image-mist .icons__heading {
    font-size: 86px;

  }
  #shopify-section-image-section-mist .icons__heading {
    font-size: 86px;

  }
  #shopify-section-full-width-image-yumies .icons__subtitle {
    font-weight: 500;
    font-size: 1.25em;
    text-align: center;
  }
  #shopify-section-product-template-mist .product-icons {
    margin: -10px 18% 30px;
  }
  #shopify-section-product-template-nectar .product-icons {
    margin: -10px 0% 30px;
  }
  .product-single__description .product-single__description-arrow {
    width: 20px;
    height: 20px;
  }

  #shopify-section-full-width-image-mist .feature-icon__image-wrapper {

    padding-top: 70% !important;
  }
  #shopify-section-image-text-section-yumies .feature-row__item h2.h3 {
    margin-bottom: -20px;
    display: flex;
    font-size: 5.5em;
    justify-content: center;
  }
  #shopify-section-product-template-yumies .product-single__description {
    text-align: left;
  }
  #shopify-section-product-template-yumies .tab-text .end-p {

    text-align: left;
  }
  #shopify-section-product-template-yumies .product-tabs-text-wrapper {
    padding-right: 0px;
  }
  #shopify-section-image-text-section-yumies .feature-row__item h3 {

    font-size: 2em;
    margin-bottom: -20px;
  }
  #shopify-section-full-width-image-yumies .grid {
    margin: 0px 0%;
  }

 
}

#shopify-section-full-width-image-yumies .wrapper p::before {
  content: url(https://cdn.shopify.com/s/files/1/0091/8444/4495/files/about_720x_1_ad716166-2df5-4345-80b0-42aaec27fbe7.png?v=1593713235);
  display: block;
}

#shopify-section-full-width-image-yumies .wrapper p:first-child::before {
  content: url(https://cdn.shopify.com/s/files/1/0091/8444/4495/files/about_720x_1_ad716166-2df5-4345-80b0-42aaec27fbe7.png?v=1593713235);
  display: none;
}

.mist-offers .option-name-choose-offer .single-option-radio {
  text-align: center;
  /* max-width: 350px; */
  margin: auto;
}
 .product-mist #ProductSelect-option-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content:start;
} 
 .mist-offers .option-name-choose-offer .single-option-radio label[data-option = "Rose Mist 8oz"] {
  float: right;
}

@media(max-width: 767px) {
  #shopify-section-image-text-section-yumies .feature-row__item h2.h3 {

    display: flex;

    justify-content: center;
  }
  #shopify-section-image-text-section-yumies .feature-row__image {

    width: 100%;
  }

  #shopify-section-image-text-section-yumies .feature-row__item h3 {
    margin-bottom: -10px;
  }
  .product-single__description.description-small {
    max-height: 110px;
  }
  .product-images-info-title {

    font-size: 1.8em;
  }


  #shopify-section-full-width-image-mist-mobile .feature-icon__image-wrapper {

    padding-top: 85% !important;
  }
  .grid__item.circle-mobile.block-1593619062792 {
    margin-top: -20px;
  }
  #shopify-section-full-width-image-yumies .wrapper {
    padding: 0px;
  }
  #shopify-section-full-width-image-yumies .icons__subtitle {

    font-weight: 500;
    font-size: 12px;
  }
  #shopify-section-product-template-yumies .mist-offers .single-option-radio__label {
    font-weight: 500;
  }
  #shopify-section-product-template-yumies .mist-offers {

    margin-top: 40px;
  }
  #shopify-section-product-template-mist .product-icons {
    margin: -10px 6% 30px 6% !important;
  }

  .mist-offers .option-name-choose-offer .single-option-radio__label {

    margin-top: 40px;
  }
  .mist-offers .option-name-choose-offer .single-option-radio label {
    padding: 5px 0;
  }
  #shopify-section-image-section-mist .icons-section .icons__text {
    display: block;
    font-size: 1em !important;
  }
  #shopify-section-image-section-mist .feature-icon__image-wrapper {
    padding-top: 50% !important;
    padding-bottom:40px;
  }
  #shopify-section-image-section-mist .feature-icon__image-wrapper img {
    margin-top: 0px;
  }
  .dev-hide-desktop {
    display: none;
  }
  .dev-hide-mobile {
    display: none;
  }
  #shopify-section-product-template-mist .product-icons-bottom {
    display: block;
  }
  #shopify-section-product-template-mist .product-single__description.bottom__description {
    display: block;
  }
  #shopify-section-product-template-nectar .product-icons-bottom {
    display: block;
  }
  #shopify-section-product-template-nectar .product-single__description.bottom__description {
    display: block;
  }
  #shopify-section-product-template-nectar .product-tabs-text-wrapper {

    padding: 0px;
  }

  #shopify-section-product-template-nectar .product-icons .icons__subtitle {
    font-size: 14px;
  }
  #shopify-section-product-template-nectar .product-tabs-titles-wrapper li {
    display: inline-block;
    padding-bottom: 0px;
    margin: 0px;
    padding: 10px 0px;
    border-bottom: solid 1px #e0e0e0;
    min-width: 33%;
    margin-right: -6px;
    font-size: 16px;
  }
  #shopify-section-product-template-yumies .product-icons-bottom {
    display: block;
  }
  #shopify-section-product-template-yumies .product-single__description.bottom__description {
    display: block;
    text-align: justify;
  }
  #shopify-section-product-template-mist .tab-text .end-p {
    text-align: justify;
  }
  #shopify-section-product-template-mist .product-single__description.bottom__description {

    text-align: justify;
  }
  #shopify-section-product-template-yumies .product-title-wrapper {
    float: none;
  }
  #shopify-section-full-width-image-yumies .feature-icon__image-wrapper {
    padding-top: 80% !important;
  }
  #shopify-section-full-width-image-yumies .icons-section .icons__text {
    display: block;
  }
  #shopify-section-image-section-mist .feature-icon__image-wrapper img {
    width: 100%;
  }
  #shopify-section-full-width-image-mist .icons__text {
    display: block;
  }
  #shopify-section-image-section-mist .icons__text {
    display: block;
    font-size: 16px;
    padding-bottom: 15px;
  }

  #shopify-section-full-width-image-mist .icons__text {
    font-size: 1em;
    margin: 10px 0px;
  }
  #shopify-section-full-width-image-mist .feature-icon__image-wrapper img {
    max-width: 100%;
  }
  .product-tabs.dev-hide-desktop {
    margin-left: 15px;
  }
  #shopify-section-product-template-mist .product-tabs-titles-wrapper li {
    display: inline-block;
    padding-bottom: 0px;
    margin: 0px;
    padding: 10px 0px;
    border-bottom: solid 1px #e0e0e0;
    min-width: 33%;
    margin-right: -6px;
    font-size: 16px;
  }
  .tab-text .product-icons .icons__text {
    display: block;
    font-size: 14px;
  }
  .tab-text .product-icons .icons__subtitle {
    font-size: 20px;
    font-weight: 500;
  }
  #shopify-section-product-template-mist .product-image__slick-dots .slick-dots li button:before {
    width: 10px;
    height: 10px;
    background-color: #fdedee;
  }
  .product-image__slick-dots .slick-dots li {
    width: 10px;
    height: 15px;
  }
  #shopify-section-product-template-mist .product-image__slick-dots .slick-dots li.slick-active button:before {
    width: 15px;
    height: 15px;
    margin-top: 0px;
    /* margin-left: -4px; */
  }
  #shopify-section-product-template-yumies .product-image__slick-dots .slick-dots li button:before {

    background-color: #fdedee;
    width: 10px;
    height: 10px;
  }

  #shopify-section-product-template-yumies .product-image__slick-dots .slick-dots li.slick-active button:before {
    width: 15px;
    height: 15px;
    margin-top: -2px;
    margin-left: -4px;
  }
  #shopify-section-product-template-yumies .product-offers {

    border-top: 0px !important;
  }

  #shopify-section-product-template-yumies .product-tabs-titles-wrapper li {
    display: inline-block;
    padding-bottom: 0px;
    margin: 0px;
    padding: 10px 0px;
    border-bottom: solid 1px #e0e0e0;
    min-width: 33%;
    margin-right: -6px;
    font-size: 16px;
  }
  #shopify-section-product-template-yumies .product-offers {
    border-top: 1px solid lightgray;
  }
  .dev-rose-img img {
    max-width: 200px;
  }
  #shopify-section-full-width-image-yumies .icons__heading span.pink {
    width: 100%;
    display: block;
  }
  #shopify-section-full-width-image-yumies .icons__text {
    display: block;
    font-size: 12px;
  }
  #shopify-section-full-width-image-yumies .feature-icon__image-wrapper {
    padding-top: 100% !important;
  }
  #shopify-section-full-width-image-yumies {
    padding: 50px 0;
  }
  #shopify-section-full-width-image-yumies .grid {
    margin-top: 40px;
  }
  #shopify-section-full-width-image-yumies .feature-icon__image-wrapper img {

    max-width: 80px;
  }
  #shopify-section-image-text-section-yumies .featured-row__subtext p::before {
    content: url(https://cdn.shopify.com/s/files/1/0091/8444/4495/files/about_720x_1_ad716166-2df5-4345-80b0-42aaec27fbe7.png?v=1593713235);
    display: block;
  }
  #shopify-section-image-text-section-yumies .featured-row__subtext p:first-child::before {
    display: none;
  }
  .product-single__description .product-single__description-arrow {

    width: 20px;
    height: 20px;
  }
  .shopify-section.full-width-image-section .product-icons {

    left: 0% !important;
    top:10px !important;
  }
  .shopify-section.full-width-image-section .dev.full-width__bottom-text {
    margin-top: 10px !important;

  }
  .image-rose-nectar.yummies .feature-row__text {
    padding-top: 0%;   
}
  
}

.img-heart {
  position: absolute;
  height: 60px;
}

.img-heart.h1 {
  right: 10%;
  top: -30px;
}

.img-heart.h2 {
  left: 10%;
  bottom: 20px;
}

.img-heart.h3 {
  left: 15%;
  bottom: -50px;
}

.img-heart.h4 {
  display: none;
}

.shopify-section.full-width-image-section .product-icons {
  margin: 20px 0 30px;
  left: 25%;
  position: relative;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.shopify-section.full-width-image-section .product-icons a:hover {
  background: transparent;
  background-color: transparent;
}

.shopify-section.full-width-image-section .product-icons img {
  width: 90px;
}

.shopify-section.full-width-image-section .product-icons .grid__item {
  padding-left: 0px;

}

.shopify-section.full-width-image-section .product-icons .grid {
  margin-left: 0px;
}

.shopify-section.full-width-image-section .dev.full-width__bottom-text {
  margin-top: 30px;
  margin-bottom: -10px;
}

#shopify-section-product-template-yumies .price-container {
  // display: none;
}

#shopify-section-product-template-yumies .product-price-info {
  display: none;
}
.shopify-section.full-width-image-section .product-icons {
    left: -3%;
}


@media(min-width: 767px) {
  .full-width__align-wrapper.position-right .full-width__text-wrapper.has-rotating-text {
    margin-top: 170px !important;
  }
  .shopify-section.full-width-image-section .product-icons img :active {
  background: #523d33 !important;
}
}

@media(max-width: 767px) {
  .img-heart {
    position: absolute;
    height: 60px;
  }
  .img-heart.h1 {
    right: 10%;
    top: -60px;
    height: 40px;
  }
  .img-heart.h2 {
    left: 5%;
    bottom: auto;
    top: 7%;
    height: 35px;
  }
  .img-heart.h3 {
    left: 10%;
    bottom: auto;
    height: 40px;
    top: 23%;
  }
  .img-heart.h4 {
    display: block;
    left: auto;
    bottom: 10px;
    height: 40px;
    top: auto;
    right: 10%;
    transform: rotate(-25deg);
  }
  .product-tabs-text-wrapper {

    padding: 0px;
  }
  .tab-text .end-p {

    text-align: justify;
  }
  #shopify-section-full-width-image-mist-mobile .icons__text {
    font-size: .8rem;
    width: 112px;
}
  .shopify-section .image-rose-nectar.yummies img.feature-row__image {
    padding: 22px 0px !important;
}
  
}

@media (max-width: 400px) {
  .full-width__align-wrapper.position-right .full-width__text-wrapper.has-rotating-text {
    top: 32% !important;
  }
}

.shopify-section.full-width-image-section .product-icons a:focus {
  outline: none;
}

.shopify-section.full-width-image-section .product-icons img:focus {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shopify-section.full-width-image-section .product-icons img {
  width: 80px;
  background: #523c31cc;
  border-radius: 20px;
}


.shopify-section.full-width-image-section .product-icons img:hover {
  width: 80px;
   background: #d79396; 
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .image-section-1 .full-width__title.has-rotating-text {
    margin-left: -115px;
  }
  .full-width__align-wrapper.position-right .full-width__text-wrapper.has-rotating-text {
    margin: auto !important;
  }
  .full-width__overlay-1581725182655 .full-width__bottom-text {
    left: 0% !important;
  }
  .shopify-section.full-width-image-section .product-icons {

    left: 0% !important;
  }
}

.mobile-nav__sublist {
  display: block !important;
}

.mobile-nav__sublist .mobile-nav__link {
  padding-left: 15px;
}

.product-icons .grid {
  display: flex;
  justify-content: center;
  margin: 0px;
}
#shopify-section-product-icons .product-icons .grid {    
    padding: 20px;
}

// ===================
.feature-row__video {
  position: static;
}

/* .shopify-section .image-rose-nectar.yummies img.feature-row__image {
  width: 85%;
  top: 15%;
} */
.shopify-section .image-rose-nectar.yummies img.feature-row__image {
    width: 100%;
    /* top: 15%; */
}


.priceWrap-v {
  flex-direction: column;
display: flex;
}

.priceWrap-v span {
  argin-top: 6px;
font-family: Montserrat,sans-serif;
font-weight: 300;
font-style: normal;
line-height: 1;
font-size: 14px;
}


.product-mist .product-additional-prices{
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

 .product-additional-prices{
   padding-bottom: 20px;
 }

.product-mist .product-offers-custom{
  padding-top: 20px;
}

@media screen and (max-width: 768px){
  .product-yumies .product-additional-prices, .product-nectar .product-additional-prices{
    padding-bottom: 0;
  }
  .product-yumies .product-additional-prices, .product-mist .product-additional-prices{
    justify-content: center;
  }

  .mist-offers .option-name-choose-offer .single-option-radio__label{
    /* text-align: center; */
    margin-top: 0;
  }

  .product-mist .product-price-wrapper .option-name-choose-offer{
    padding: 0;
  }

  .product-mist .product-additional-prices{
    border-bottom: none;
    padding-bottom: 0;
  }
}

.featured-blog .slick-initialized .slick-slide{
  margin: 0;
}

  .new-product-testimonials-title:after{
    justify-content: center !important;
    display: flex !important;
  }

  /* Sugar Free product */

  .new-option .single-option-radio input[type="radio"]:checked + label .option-label, .new-option .single-option-radio input[type="radio"]:checked + label{
    /* background-color: #523d33;
    border: none !important; */
  }

  .new-option .single-option-radio label{
    /* border: 1px solid #523d33; */
  }

  .new-option .single-option-radio input[type="radio"]:checked + label .option-default{
    /* background: none; */
  }

  .new-option .single-option-radio label .option-default{
    /* border: none; */
  }

  .new-option .single-option-radio label .option-default{
    /* line-height: 1.2;
    align-items: center;
    display: flex; */
  }

  .new-option .option-price{
    display: none;
  }

  // .new-option label{
  //   display: none !important;
  // }

  .new-option fieldset.single-option-radio label{
    /* display: flex !important; */
  }

  #thumbnail-carousel .thumbs-list{
    justify-content: center;
    padding: 0 28px !important;
    width: fit-content;
    gap: 5px;
  }

  #thumbnail-carousel .splide__arrow{
    background: none !important;
  }

  #thumbnail-carousel .splide__track{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  #thumbnail-carousel .splide__arrow{
    width: fit-content;
    height: 100%;
    transition: ease 0.3s;
    border-radius: 0;
  }

  #thumbnail-carousel .splide__arrow:hover{
    background-color: #f3f4f6 !important;
    transition: ease 0.3s;
  }

  #thumbnail-carousel .splide__arrow--prev{
    left: 0;
  }

  #thumbnail-carousel .splide__arrow--next{
    right: 0;
  }

  #thumbnail-carousel .splide__arrow--prev svg{
    transform: none !important;
  }

  #thumbnail-carousel .splide__arrow svg{
    width: 24px;
    height: 24px;
  }

  #thumbnail-carousel .splide__track--nav > .splide__list > .splide__slide.is-active{
    border: 2px solid black;
  }

  #main-carousel .splide__arrow--prev svg{
    transform: none !important;
  }

  #main-carousel .splide__arrow svg{
    width: 24px;
    height: 24px;
  }
  
  #main-carousel .splide__arrow{
    display: none;
    z-index: 10;
    transition: ease 0.3s;
    background: #efefe9;
  }  

  #main-carousel:hover .splide__arrow{
    display: flex;
    transition: ease 0.3s;
  }

  .product-template-yummies-2 .one-half.product-price-wrapper{
    width: 38%;
    flex: unset;
  }

  .product-template-yummies-2 .product-additional-prices{
    display: none;
  }

  .product-template-yummies-2 .dev-qty{
    /* font-size: 15px; */
  }

  .product-template-yummies-2 .option-name-choose-qty-gummies .single-option-radio label{
    font-size: 15px;
  }

  .new-option fieldset.single-option-radio label{
    /* width: 50%;
    border-radius: 16px !important; */
  }

  .new-option .single-option-radio label .option-default{
    /* padding: 0 */
  }

  .thumbs-video{
    display: flex;
    justify-content: center;
    align-items: center
  }

  .thumbs-video svg{
    border-radius: 50%;
    background: #efefe9;
  }

  .original-description{
    padding: 8px 0;
    min-height: 195.2px;
  padding: 8px 0px;
  margin-bottom: 15px;
  }

  #thumbnail-carousel-list li{
    border-radius: 6px;
  overflow: hidden;
  }

  // #rose-nectar #ProductPrice, #rose-nectar .product-additional-prices, #rose-nectar #money-saved{
  //   display: none !important;
  // }

  @media screen and (min-width: 768px){
      #rose-nectar .product-price-wrapper{
    flex: unset;
    /* width: 38%; */
  }

  #rose-nectar #ProductSelect-option-1 label div.option-default{
    /* font-size: 11px;
    width: 60px; */
  }

  #rose-nectar .product-qty-wrapper{
    padding-left: 0;
  }

  #rose-nectar #ProductSelect-option-1{
    gap: 7px;
  }
  }
  
  @media screen and (max-width: 580px){
    .original-description{
      padding: 8px;
      min-height: 272px;
    }
  }

  @media only screen and (max-width: 767px) {
      .product-template-yummies-2 .one-half.product-price-wrapper{
    width: 100%;
  }

    #rose-nectar .one-half.product-qty-wrapper{
      /* max-width: 314px; */
    }

    /* #rose-mist .one-half.product-qty-wrapper{
      max-width: 314px;
    } */

    
  .new-option fieldset.single-option-radio label {
    /* width: 100px !important; */
  }

  .product-template-yummies-2  .one-half.product-qty-wrapper{
    max-width: 314px;
  }
}

  @media screen and (max-width: 590px){
    #main-carousel, #thumbnail-carousel{
      display: none !important;
    }
  }

  @media screen and (min-width: 590px){
    .product-thumbnail__wrapper{
      display: none;
    }

    .product-single__thumbnails{
      display: none;
    }
  }