<!-- /templates/article.liquid -->
{% comment %}
  The contents of the article.liquid template can be found in /sections/article-template.liquid
{% endcomment %}

 

<div class="article-recipe">


{% section 'article-template' %}
  
<!-- Share This Buttons -->
<div class="sharethis-inline-share-buttons"></div> 
</div>
<br><br><br><br>

 {% section "featured-recipes" %}



<script>
	document.addEventListener("DOMContentLoaded", (event) => {
		$("ul.site-nav > li.site-nav__item:nth-of-type(4)").ready(function () {
			$("ul.site-nav > li.site-nav__item:nth-of-type(4)")[0].classList.add(
				"site-nav--active"
			);
		});
		// Highlights "Recipes" on the main menu, because its not working for some other reason
	});
</script>