{% comment %}
<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>
{% endcomment %}

{% section 'new-video-sec' %}

{% section 'whats-inside-featured-content' %}

{% section 'whats-inside-featured-content2' %}

{% section 'whats-inside-featured-content3' %}

{% section 'whats-inside-featured-content4' %}

{% section 'whats-inside-about-featured-row1' %}

{% section 'whats-inside-about-featured-row2' %}

